.ipynb_checkpoints

.vscode
.virtual_documents
slurm*.out
lightning_logs/

*.egg-info
*.pyc
*.pdf
*.mp4
*.png
*.csv
tmp.*

__pycache__
.DS_Store

.nextflow
.nextflow*
nextflow_dana/work/
estrous/
# ignore for now - essentially copies of nextflow folder
nextflow_dana