// params {
//     // define global parameters for nextflow processes
// }

conda.enabled = true

profiles {
    standard {
        process.executor = 'local'
    }

    cluster {
        process {
            executor = 'slurm'
            errorStrategy = 'retry'
            maxErrors = '-1'
            maxRetries = 3
            withLabel: short {
                queue = "short"
                cpus = 4
                memory = 20.GB
            }
            withLabel: gpu {
                queue = "gpu_requeue"
                cpus = 1
                memory = 40.GB
                clusterOptions = "--gres=gpu:1"
            }
            withLabel: gpu_quad {
                queue = "gpu_quad"
                cpus = 1
                memory = 40.GB
                clusterOptions = "--gres=gpu:1"
            }
        }
    }
}